flow.json
[
    {
        "id": "9b93a9f7.a097d8",
        "type": "tab",
        "label": "SOMEBASICS",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bede18b8.d8bb48",
        "type": "tab",
        "label": "TREND",
        "disabled": false,
        "info": ""
    },
    {
        "id": "68f50b83.653284",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4b6ef836.e08128",
        "type": "ui_group",
        "name": "Default",
        "tab": "68f50b83.653284",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "83e109c7.ece008",
        "type": "inject",
        "z": "9b93a9f7.a097d8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 410,
        "y": 100,
        "wires": [
            [
                "e94da93.076ac58"
            ]
        ]
    },
    {
        "id": "e94da93.076ac58",
        "type": "debug",
        "z": "9b93a9f7.a097d8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 100,
        "wires": []
    },
    {
        "id": "fcb7922c.346d6",
        "type": "BlinkerUltimate",
        "z": "9b93a9f7.a097d8",
        "name": "Blinker",
        "blinkfrequency": 500,
        "x": 490,
        "y": 260,
        "wires": [
            [
                "bf06b886.377738"
            ]
        ]
    },
    {
        "id": "d6089802.bdf9c8",
        "type": "InjectUltimate",
        "z": "9b93a9f7.a097d8",
        "name": "Inject",
        "curVal": true,
        "x": 220,
        "y": 240,
        "wires": [
            [],
            [],
            [
                "fcb7922c.346d6",
                "9e8cede6.35e75"
            ]
        ]
    },
    {
        "id": "bf06b886.377738",
        "type": "debug",
        "z": "9b93a9f7.a097d8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 240,
        "wires": []
    },
    {
        "id": "331a63ef.04f87c",
        "type": "debug",
        "z": "9b93a9f7.a097d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 340,
        "wires": []
    },
    {
        "id": "9e8cede6.35e75",
        "type": "FilterUltimate",
        "z": "9b93a9f7.a097d8",
        "name": "Filter",
        "x": 360,
        "y": 380,
        "wires": [
            [
                "331a63ef.04f87c"
            ],
            []
        ]
    },
    {
        "id": "4f963b20.dcb6c4",
        "type": "ui_chart",
        "z": "bede18b8.d8bb48",
        "name": "",
        "group": "4b6ef836.e08128",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "10",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 790,
        "y": 200,
        "wires": [
            []
        ]
    }
]