flow.json
[
    {
        "id": "9b93a9f7.a097d8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "83e109c7.ece008",
        "type": "inject",
        "z": "9b93a9f7.a097d8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 410,
        "y": 100,
        "wires": [
            [
                "e94da93.076ac58"
            ]
        ]
    },
    {
        "id": "e94da93.076ac58",
        "type": "debug",
        "z": "9b93a9f7.a097d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 100,
        "wires": []
    },
    {
        "id": "57ce9679.e25098",
        "type": "InjectUltimate",
        "z": "9b93a9f7.a097d8",
        "name": "Inject",
        "curVal": true,
        "x": 420,
        "y": 300,
        "wires": [
            [
                "e9e53d08.52fab"
            ],
            [
                "e9e53d08.52fab"
            ],
            [
                "e9e53d08.52fab"
            ]
        ]
    },
    {
        "id": "e9e53d08.52fab",
        "type": "debug",
        "z": "9b93a9f7.a097d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 280,
        "wires": []
    }
]